Question 2

What are the key features in predicting the success of the marketing campaign using wrapper method?

In [2]:
import pandas as pd
import numpy as np
df1 = pd.read_csv("Dataset/preprocessed_dataset.csv")
df1.head(5)

,Education,Marital_Status,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country,Age
0,2,2,84835.0,0,0,0,189,104,379,111,...,1,0,0,0,0,0,1,0,6,51
1,2,4,57091.0,0,0,0,464,5,64,7,...,5,0,0,0,0,1,1,0,1,60
2,2,3,67267.0,0,1,0,134,11,59,15,...,2,0,0,0,0,0,0,0,7,63
3,2,5,32474.0,1,1,0,10,0,1,0,...,7,0,0,0,0,0,0,0,0,54
4,2,4,21474.0,1,0,0,6,16,24,11,...,7,1,0,0,0,0,1,0,6,32

 Applying Wrapper Method - Forward Selection

In [8]:
from sklearn.naive_bayes import GaussianNB
from mlxtend.feature_selection import SequentialFeatureSelector

X = df1.drop('Response',axis=1)
y = df1.Response

s = SequentialFeatureSelector(GaussianNB(),
    k_features=7,  
    forward=True, 
    floating=False,
    scoring='accuracy',
    cv=5)      
s = s.fit(X,y)
selected_features = X.columns[list(s.k_feature_idx_)]

print(selected_features)

Index(['Education', 'Marital_Status', 'Kidhome', 'Teenhome', 'NumWebPurchases',
       'NumStorePurchases', 'AcceptedCmp5'],
      dtype='object')

In [9]:
print("The following features are selected using Wrapper Method - Forward Selection")

for x in list(selected_features):
    print(x)

The following features are selected using Wrapper Method - Forward Selection
Education
Marital_Status
Kidhome
Teenhome
NumWebPurchases
NumStorePurchases
AcceptedCmp5

Applying Wrapper Method - Backward Selection

In [10]:
from sklearn.naive_bayes import GaussianNB
from mlxtend.feature_selection import SequentialFeatureSelector

X = df1.drop('Response',axis=1)
y = df1.Response

s = SequentialFeatureSelector(GaussianNB(),
    k_features=7,  
    forward=False, 
    floating=False,
    scoring='accuracy',
    cv=5)      
s = s.fit(X,y)
selected_features = X.columns[list(s.k_feature_idx_)]

print(selected_features)

Index(['Recency', 'MntMeatProducts', 'MntFishProducts', 'NumWebPurchases',
       'AcceptedCmp3', 'AcceptedCmp5', 'AcceptedCmp2'],
      dtype='object')

In [11]:
print("The following features are selected using Wrapper Method - Forward Selection")

for x in list(selected_features):
    print(x)

The following features are selected using Wrapper Method - Forward Selection
Recency
MntMeatProducts
MntFishProducts
NumWebPurchases
AcceptedCmp3
AcceptedCmp5
AcceptedCmp2